@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    /*width: 450px;*/
    height: 100vh;
    background-image: url('/images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    max-width: 80%;
}

.main__header {
    background-image: url('/images/Pattern.png');
    text-align: center;
    color: #fff;
    background-color: #0055ff;
    font-weight: bolder;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    font-size: 1.5rem;
}
.main__content {
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    padding-bottom: 15px;
}
.main__one {
    text-align: ceer;
    color: gray;
    padding: 10px;
}

.search-bar {
    width: 50%;
    display: inline-block;
    margin-left: 30px;
    text-align: center;
    padding: 5px 0;
}

.btn {
    padding: 6px 10px;
    color: #fff;
    font-weight: bolder;
    background-color: #0055ff;
    border: none;
    border-radius: 3px;
    text-transform: capitalize;
}

.input span {
    display: block;
    color: gray;
    text-align: center;
    margin-top: 5px;
}
.input {
    margin-bottom: 15px;
}

.designer div {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    text-transform: capitalize;
    color: gray;
}

.description {
    margin: 15px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        background-image: url('/images/Background.png');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #wrapper {
        width: 450px;
        margin: auto;
    }
    .input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}